###############################################################################
# Set default behavior to avoid automatically normalize line endings.
###############################################################################
* -text
